<div class="row about">
  <div class="col-xs-12">
    <div class="jumbotron" style="padding: 0;">
      <h1><span class="icon-pacman"></span>CodeMonkeyKing</h1>
      <p>我们是一群在互联网的海洋中寻求一片自由自在的乐土,向往着无拘束不妥协精神的CodeMonkey</p>
    </div>
    <div class="media">
      <a class="pull-left">
        <img class="media-object" src="images/hamicat.jpg">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Jimmy Jiang</h4>
        青牛助手Chrome端作者.热爱HTML5,开源技术,重度互联网依赖症患者.崇拜高效的工作
      </div>
    </div>
    <div class="media">
      <a class="pull-left">
        <img class="media-object" src="images/labixiaoxin.jpg">
      </a>
      <div class="media-body">
        <h4 class="media-heading">1 0</h4>
        青牛助手Android端作者 - 阳光，随心，自信，处女座；每当你在感叹，如果有这样一个东西就好了，请注意，这是你的机会
      </div>
    </div>
    <div class="media">
      <a class="pull-left">
        <img class="media-object" src="images/head_zhanhua.jpg">
      </a>
      <div class="media-body">
        <h4 class="media-heading">御风</h4>
        青牛助手IOS端作者 - 技术宅男一枚，专攻于IOS开发。相信挺住就意味着一切
      </div>
    </div>
  </div>
</div>