<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <form role="form" name="feedbackForm" ng-submit="vm.fnSubmit()">
      <div class="form-group" ng-class="{'has-error':!feedbackForm.email.$valid}">
        <label>邮箱:</label>
        <input type="text" name="email" ng-model="vm.feedback.email" class="form-control" placeholder="请输入你的邮箱,以便我们与你联系" ng-pattern="/\w+((-w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+/"/>
      </div>
      <div class="form-group" ng-class="{'has-error':!feedbackForm.title.$valid}">
        <label>标题:</label>
        <input type="text" name="title" ng-model="vm.feedback.title" class="form-control" required ng-minlength="4" placeholder="最少输入4个字符"/>
      </div>
      <div class="form-group" ng-class="{'has-error':!feedbackForm.content.$valid}">
        <label>内容:</label>
        <textarea cols="30" rows="10" class="form-control" style="resize:none;" name="content" ng-model="vm.feedback.content" required ng-minlength="6" placeholder="最少输入6个字符"></textarea>
      </div>
      <div class="form-group">
        <div class="col-xs-8 col-xs-offset-2">
          <button type="submit" class="btn btn-block btn-primary" ng-disabled="feedbackForm.$invalid">提交</button>
        </div>
      </div>
    </form>
  </div>
</div>